@font-face {
font-family: 'Arcade Normal';
font-style: normal;
font-weight: normal;
src: local('Arcade Normal'), url('sprites/ARCADE_N.woff') format('woff');
}

body {
  background-image: url('sprites/bak.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.arcade {
  position: absolute;
  font-size: 24px;
  font-family: 'Arcade Normal';
}

#score {
  color: white;
  left: 50px;
  top: 30px;
}

#score-label {
  color: red;
  left: 50px;
  top: 0px;
}

#hiscore {
  color: white;
  left: 610px;
  top: 30px;
}

#hiscore-label {
  color: red;
  left: 580px;
  top: 0px;
}

#win {
  color: white;
  left: 580px;
  top: 300px;
}

.ship {
  background-image: url('sprites/ship.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 300px;
  top: 650px;
  width: 50px;
  height: 60px;
}

.laser {
  background-image: url('sprites/laser5.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 35px;
  height: 120px;
}

.enemy_1 {
  background-image: url('sprites/enemy_1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 50px;
  height: 60px;
}

.enemy_2 {
  background-image: url('sprites/enemy_2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 50px;
  height: 60px;
}
